.arrow-link {
  cursor: pointer;
  width: 130px;
  height: 130px;
  @include hover {
    svg circle {
      fill: #ffffff;
    }
  }
  svg {
    width: 100%;
    height: 100%;
    circle {
      transition: all 0.2s ease;
    }
  }
}