.btn {
  background: #DEB500;
  border-radius: 5px;
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  // line-height: 21px;
  @include fcc;
  letter-spacing: -0.04em;
  color: #1F1F1F;
  opacity: 0.9;
  width: 280px;
  // padding-top: 20px;
  // padding-bottom: 20px;
  height: 64px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  @include hover {
    background-color: #ffffff;
  }
}