.title {
  min-height: 525px;
  height: calc(100vh - 150px);
  @media (min-width: 1760px) and (max-height: 900px) {
    height: calc(100vh - 100px);
  }
  @media (min-width: 1760px) and (max-height: 780px) {
    height: calc(100vh - 75px);
  }
  @media (min-width: 1280px) and (max-width: 1760px) {
    height: calc(100vh - 150rem);
    min-height: 525rem;
  }
  @media (min-width: 1280px) and (max-width: 1760px) and (max-height: 900px) {
    height: calc(100vh - 100rem);
  }
  @media (min-width: 1280px) and (max-width: 1760px) and (max-height: 780px) {
    height: calc(100vh - 75rem);
  }
  @media (max-width: 1279px) and (max-height: 900px) {
    height: calc(100vh - 100px);
  }
  @media (max-width: 1279px) and (max-height: 780px) {
    height: calc(100vh - 75px);
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    height: calc(100vh - 150rem);
  }
  @media (min-width: 768px) and (max-width: 1279px) and (max-height: 900px) {
    height: calc(100vh - 100rem);
  }
  @media (min-width: 768px) and (max-width: 1279px) and (max-height: 780px) {
    height: calc(100vh - 75rem);
  }
  @media (max-width: 767px) {
    height: calc(90vh - 60px);
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
  }
  &__decor {
    cursor: pointer;
    position: absolute;
    bottom: 70px;
    left: 15px;
    @media (min-width: 1760px) and (max-height: 650px) {
      bottom: 40px;
    }
    @media (min-width: 1280px) and (max-width: 1760px) {
      bottom: 70rem;
    }
    @media (min-width: 1280px) and (max-width: 1760px) and (max-height: 650px) {
      bottom: 40rem;
    }
    @media (max-width: 1279px) and (max-height: 650px) {
      bottom: 40px;
    }
    @media (min-width: 768px) and (max-width: 1279px) {
      bottom: 70rem;
    }
    @media (min-width: 768px) and (max-width: 1279px) and (max-height: 650px) {
      bottom: 40rem;
    }
    @media (max-width: 767px) {
      bottom: 30px;
      width: 85px;
      font-size: 10px;
      line-height: 15px;
    }
  }
  &__head {
    flex-shrink: 0;
    margin-top: auto;
    margin-bottom: 40px;
    max-width: 1200px;
    font-weight: 900;
    font-size: 75px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.9;
    @media (min-width: 1760px) and (max-height: 900px) {
      font-size: 60px;
      line-height: 70px;
      margin-bottom: 30px;
    }
    @media (min-width: 1760px) and (max-height: 780px) {
      font-size: 48px;
      line-height: 60px;
    }
    @media (min-width: 1280px) and (max-width: 1760px) {
      margin-bottom: 40rem;
      font-size: 75rem;
      line-height: 80rem;
    }
    @media (min-width: 1280px) and (max-width: 1760px) and (max-height: 900px) {
      font-size: 60rem;
      line-height: 70rem;
      margin-bottom: 30rem;
    }
    @media (min-width: 1280px) and (max-width: 1760px) and (max-height: 780px) {
      font-size: 48rem;
      line-height: 60rem;
    }
    @media (max-width: 1279px) {
      font-size: 70px;
    }
    @media (max-width: 1279px) and (max-height: 900px) {
      font-size: 60px;
      line-height: 70px;
      margin-bottom: 30px;
    }
    @media (max-width: 1279px) and (max-height: 780px) {
      font-size: 48px;
      line-height: 60px;
    }
    @media (min-width: 768px) and (max-width: 1279px) {
      font-size: 70rem;
      line-height: 80rem;
    }
    @media (min-width: 768px) and (max-width: 1279px) and (max-height: 900px) {
      font-size: 60rem;
      line-height: 70rem;
      margin-bottom: 30rem;
    }
    @media (min-width: 768px) and (max-width: 1279px) and (max-height: 780px) {
      font-size: 48rem;
      line-height: 60rem;
    }
    @media (max-width: 767px) {
      font-size: 28px;
      line-height: 33px;
      margin-bottom: 30px;
    }
    @media (max-width: 767px) and (max-height: 700px) {
      font-size: 28px;
      line-height: 33px;
      margin-bottom: 15px;
    }
  }
  &__text {
    flex-shrink: 0;
    font-family: $second-font;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    @media (min-width: 1760px) and (max-height: 900px) {
      font-size: 15px;
      line-height: 19px;
    }
    @media (min-width: 1760px) and (max-height: 780px) {
      font-size: 13px;
      line-height: 16px;
    }
    @media (min-width: 1280px) and (max-width: 1760px) {
      font-size: 16rem;
      line-height: 21rem;
    }
    @media (min-width: 1280px) and (max-width: 1760px) and (max-height: 900px) {
      font-size: 15rem;
      line-height: 19rem;
    }
    @media (min-width: 1280px) and (max-width: 1760px) and (max-height: 780px) {
      font-size: 13rem;
      line-height: 16rem;
    }
    @media (max-width: 1279px) {
      font-size: 18px;
    }
    @media (max-width: 1279px) and (max-height: 900px) {
      font-size: 15px;
      line-height: 19px;
    }
    @media (max-width: 1279px) and (max-height: 780px) {
      font-size: 13px;
      line-height: 16px;
    }
    @media (min-width: 768px) and (max-width: 1279px) {
      font-size: 18rem;
      line-height: 21rem;
    }
    @media (min-width: 768px) and (max-width: 1279px) and (max-height: 900px) {
      font-size: 15rem;
      line-height: 19rem;
    }
    @media (min-width: 768px) and (max-width: 1279px) and (max-height: 780px) {
      font-size: 13rem;
      line-height: 16rem;
    }
    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 19px;
      max-width: 335px;
    }
    @media (max-width: 767px) and (max-height: 650px) {
      max-width: 335px;
      font-size: 13px;
      line-height: 16px;
    }
    br {
      @media (max-width: 767px) {
        display: none;
      }
    }
    &--mb {
      margin-bottom: 20px;
      @media (min-width: 1280px) and (max-width: 1760px) {
        margin-bottom: 20rem;
      }
      @media (min-width: 768px) and (max-width: 1279px) {
        margin-bottom: 20rem;
      }
      @media (max-width: 767px) {
        margin-bottom: 15px;
      }
    }
  }
  &__link {
    flex-shrink: 0;
    margin-top: auto;
    margin-bottom: 70px;
    @media (min-width: 1760px) and (max-height: 900px) {
      width: 100px;
      height: 100px;
    }
    @media (min-width: 1760px) and (max-height: 650px) {
      margin-bottom: 40px;
    }
    @media (min-width: 1280px) and (max-width: 1760px) {
      margin-bottom: 70rem;
      width: 130rem;
      height: 130rem;
    }
    @media (min-width: 1280px) and (max-width: 1760px) and (max-height: 900px) {
      width: 100rem;
      height: 100rem;
    }
    @media (min-width: 1280px) and (max-width: 1760px) and (max-height: 650px) {
      margin-bottom: 40rem;
    }
    @media (max-width: 1279px) and (max-height: 900px) {
      width: 100px;
      height: 100px;
    }
    @media (max-width: 1279px) and (max-height: 650px) {
      margin-bottom: 40px;
    }
    @media (min-width: 768px) and (max-width: 1279px) {
      margin-bottom: 70rem;
      width: 130rem;
      height: 130rem;
    }
    @media (min-width: 768px) and (max-width: 1279px) and (max-height: 900px) {
      width: 100rem;
      height: 100rem;
    }
    @media (min-width: 768px) and (max-width: 1279px) and (max-height: 650px) {
      margin-bottom: 40rem;
    }
    @media (max-width: 767px) {
      margin-bottom: 70px;
      width: 45px;
      height: 45px;
    }
  }
}