.container {
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	max-width: 1760px;
	// border-top: 1px solid transparent;
	@media (max-width: 767px) {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.hide {
	display: none !important;
}

.fade {
	visibility: hidden !important;
	opacity: 0 !important;
}

.offscroll-y {
	overflow-y: hidden !important;
	position: relative;
	height: 100% !important;
	touch-action: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}